<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net452" />
  <package id="NAudio" version="1.8.4" targetFramework="net452" />
  <package id="NAudio.Lame" version="1.0.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net452" />
</packages>